/*公共样式结束*/
body {font-size: 12px;font-family:"微软雅黑"; color: #666;background: #fff;}
a {color: #666;text-decoration: none;}
a:hover {color: #025194;}
a,address,b,big,blockquote,body,cite,code,dd,del,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var {
	margin: 0;
	padding: 0;
}
ol,ul { list-style: none;}
img {border: 0;vertical-align: middle;}
em,i {font-style: normal;}
.fl {float: left;}
.fr {float: right;}
.al {text-align: left;}
.ac {text-align: center;}
.ar {text-align: right;}
.none {display: none;}
.clear:after{ content: '.'; display: block; width: 100%;height:0; overflow: hidden; visibility: hidden; clear: both;}
.mt0{ margin-top: 0!important; }
.mb0{ margin-bottom: 0!important; }
.border0{ border: 0!important; }

body, div, ul , li, img{
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
}
.row{ width: 1120px; margin: 20px auto 0;}
.con{ width: 1120px; margin: 0 auto; }
/*公共样式结束*/

/*header 开始*/
.header{ height: 55px;}
.header .con{ padding: 0 50px;}
.header .con>div{ height: 49px; margin-top: 3px;}
.logo{ width: 45px; height: 100%; border: 0; margin-right:20px;}
.logo-msg{width: 385px;height: 100%;}
.header-right{ width: 230px;}
.hr-top i.icon-xinfeng, .hr-top i.icon-xiaoxi, .hr-top i.icon-phone{ color:#005193;}
.hr-top a, .hr-top span{ display: inline-block; float:left; margin-right: 4px;}
.hr-top i{ font-size: 20px;}
.hr-top a{ font-size: 14px;}

.hr-bot{ height: 24px; line-height: 24px;}
.hr-bot input{ height: 24px;border: 2px solid #ddd;border-right: 0;padding: 0; outline: none;}
.hr-bot a{ display: inline-block;width: 24px;height:24px; background: #ddd;line-height: 24px; border-right:2px solid #ddd;color: #000;text-align: center;
	border-top:2px solid #ddd;border-bottom: 2px solid #ddd;
}
.hr-bot a:hover{ background: #015293;color:#fff;border-color: #015293;}
/*header结束*/
/*navbar开始*/
.nav-active{ background: #ddd;}
.nav-active>a{ color: #015293!important;}

.nav{ height: 40px; background: #015293;}
.nav-left{ width: 188px;height: 100%;
	border-right: 1px solid #bfbfbf;
	background: url('./../images/icon_9.jpg') 110px 9px no-repeat;
}
.nav-right{height: 40px;}
.nav-list>li{ width: 112px; height: 40px; line-height: 40px; border-right: 1px solid #bfbfbf;text-align: center; float:left; position: relative; left: 0; top: 0; }
.nav-list li>a{ color: #fff; font-size: 18px; font-weight: 600;font-family: "FZYouHK_512B","微软雅黑","宋体";}

/*子菜单*/
/* .subNav{
	width: 500px; position: absolute; left: -200px; top: 40px;
	background: #fff url('./../images/icon_11.gif') 245px 2px no-repeat;
	z-index: 1;
} */
.subNav{
	width: 100%;
	position: absolute; top: 40px;
	background: #fff;
	z-index: 1;
}
.subNav>li{float: left; margin-right: 20px; margin-left: 20px;}
.subNav li a{ font-size:16px; color: #015293; }
/*navbar结束*/
/*banner --- start */
.banner{ height: 550px;}
.b-box{ width: 100%; height: 100%;overflow: hidden; position: relative; left: 0; top: 0;}
.banner-list { width: 100%; height: 100%; }
.banner-list li{display: none; position: absolute; left: 0; top: 0;}
.banner-list img{ width: 1120px; height: 550px; border: 0;}



	/*小圆点定位*/
.circle{ width: 100%; height: 30px; background: rgba(0,0,0, 0.6); position: absolute;left: 0; bottom: 0; display: flex; justify-content: center; align-items: center;}
.circle>span{ display: block; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 16px; background: #ddd; color:#333; margin-right: 10px; border-radius: 50%;cursor: pointer;}
.circle>span:hover{ background: red; color:#fff;}
.circle>span.b-active{ background: red; color:#fff;}

/*banner---------end*/
.content{
	min-height: 500px;
	height: auto!important;
	height: 500px;
	line-height: 30px;
	font-size: 14px;
	color: #000;
}
.content>div{ margin-top: 36px; }
.con-left, .con-center, .con-right{
	min-height: 400px;
	height:auto!important;
	height: 400px;
}
.con-left{ width: 400px; margin-right: 30px; }
.con-center{ width: 370px; border-right: 1px solid #bababa; border-left: 1px solid #bababa; padding: 0 20px 0 24px;}
.con-right{ width: 320px; background: #dcdcdd; padding: 0 15px;}
.l-list{width:100%;padding-right: 20px; margin-bottom: 10px;}
.l-title{ height: 30px; line-height: 30px; font-size: 20px; border-bottom: 1px solid #bababa; }
.l-title span:hover{ color:#025194; }
.l-list-con { margin-top: 15px; }
.l-list-con li { line-height: 36px; font-size: 16px; white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.l-list-con li.l-icon:before{ content: '.'; display: block; float: left; width: 24px;  line-height: 10px; font-size: 40px;}
.l-list-con li a{ color: #000;}
.l-list-con li a:hover{ color: #025194;}
.l-list-img img{ width: 100%; overflow: hidden; }
.l-video, .l-video img{ width: 370px; height:245px; }
.l-video, .diagram{ position: relative; left:0; top:0; }
.l-video span.play{ display: block; width: 34px; height: 34px; position: absolute; right:10px;bottom: 10px; background: url('./../images/video.png') no-repeat;background-size:cover; }
.video{ width: 100%; height: 243px; overflow: hidden; }
.l-radio img{ width: 270px; }
.l-radio-play{ width: 108px; background: #ccc; height: 243px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.audio_play{ width: 60px; height: 60px; margin: 0 auto; background: url('./../images/icon_18.gif') no-repeat; background-size: cover; }
.audio_play:hover{ box-shadow: 0 0 6px #333; border-radius: 50%;}
.l-video-des{ line-height: 36px; font-size: 18px; }
.l-video-des a:hover{ color: #025194; }
.l-branch{ color: #888!important; margin-left: 4px; }
.l-img-des{ width: 370px; height: 24px; text-align: center;line-height: 24px; background: rgba(0,0,0, .5); position: absolute; left: 0; bottom: 0; }
.l-img-des a{ color: #fff; }
.l-img-des a:hover{ text-decoration: underline; }
/* center */
.c-title-right{ font-size: 14px; color:#666; }
.c-title-right:hover{ color: #025194; }
.c-list-con li { font-size: 14px; line-height: 26px; margin-top: 3px; }
.c-list-con li a:hover{ color:#025194; }
.c-list-date{ color: #666; }
/* sliders */
.c-slider{ width: 300px; height: 60px; margin-top: 10px;position: relative; left: 0; top: 0; overflow: hidden; }
.c-box{ width: 900px; height: 60px; position: absolute; left: 0; top: 0; }
.c-box li img{ width: 300px; height: 60px; }
.leaveMsg { margin-top: 10px; }
.msg-box, .msg-img{ display: flex; justify-content: space-around; align-items: center; }
.msg-box{ margin-top: 10px; }
.msg-btn{ padding: 0px 10px; border-radius: 10px; background: #74bffb; }
.msg-btn a{ color: #fff; cursor: pointer; font-size: 14px;}
.msg-show{ width: 300px; height: 126px; border: 1px solid #ccc; margin-top: 10px;}
.msg-show-l{ width: 178px; height: 100%; padding: 10px 3px; }
.msg-show-r{ width: 120px; height: 100%; display: flex; justify-content: center; align-items: center; }
.msg-show-title{ color: #015293; font-size: 14px; line-height: 100%; text-align: center; }
.msg-info{ line-height: 24px; }
.msg-info a{ color: #2eb5fc; }
/* 回应关切，标题 legend */
.other-tit{ position: relative; left: 0; top:0; }
.other-title{ width: 76px; height: 20px; line-height: 30px; background: #fff; position: absolute; left: 124px; top: -15px; text-align: center; }
.fbh{ width: 100%; height: 287px; overflow: hidden; position: relative;left: 0; top: 0;}
.fbh img{ width: 300px; height: 287px; border: 0; }
.fbh-des{ width: 100%; height: 26px; line-height: 26px; text-align: center; background: rgba( 0,0,0,0.7); position: absolute; left: 0; bottom: 0; }
.fbh-des a{ color:#fff; }
.fbh-list li{ height: 25px;line-height: 25px; }
.fbh-list li.l-icon:before{ line-height: 1px; }
/* content-right  depart */
.con-right a:hover{ color: #025194; }
.r-list{ margin-bottom: 20px; }
/* 列表前的原点样式修改 */
.r-list li.l-icon:before{ width: 15px;line-height: 1px; }
.r-list .l-list-con .l-icon{ line-height: 28px; }
/* 列表前的原点样式修改 */
.r-list-title{ font-size: 20px; line-height: 40px; }
.r-list-icon{ height: 70px; display: flex; justify-content: center; align-items: center; }
.r-icon-list{ width: 60px; }
.r-icon-list span{ display: block; width: 30px; height: 30px; margin: 0 auto; background-size: cover; }
.r-icon-list p{ text-align: center;}
.people-icon{ background: url('./../images/icon_1.jpg') no-repeat; }
.company-icon{ background: url('./../images/icon_2.jpg') no-repeat; }
.foreigner-icon{ background: url('./../images/icon_3.jpg') no-repeat; }
.society-icon{ background: url('./../images/icon_4.jpg') no-repeat; }
.people-icon:hover{ background: url('./../images/icon_11.jpg') no-repeat; }
.company-icon:hover{ background: url('./../images/icon_22.jpg') no-repeat; }
.foreigner-icon:hover{ background: url('./../images/icon_33.jpg') no-repeat; }
.society-icon:hover{ background: url('./../images/icon_44.jpg') no-repeat; }
.r-list-btn-qd, .r-list-btn-dt{ width: 228px; height: 56px; overflow: hidden; margin: 5px auto 20px; cursor: pointer; background-size: cover;}
.r-list-btn-qd{ background: url('./../images/fw_img.jpg') no-repeat; }
.r-list-btn-dt{ background: url('./../images/fw_img2.jpg') no-repeat; }

.r-cx-con{ width: 50%; height: 115px; display: flex; flex-direction: column; justify-content: space-around; align-items: center;}
.cx-img{ width: 64px; height: 64px; overflow: hidden; }
.cx-des{ width: 100px; text-align: center; line-height: 18px;}
.r-date{ height: 240px; }
.cx-date{ width: 230px; height: 46px; margin: 20px auto 0; overflow: hidden; border-radius: 10px; background:url('./../images/sjcx_btn.jpg') no-repeat left top; background-size: cover; }
.cx-date:hover{ background-image: url('./../images/sjcx_btn_hover.jpg'); }
.cx-date>a{ display: block; width: 100%; height: 100%; }
.c-list-bottom{ height: 202px; position: relative; left: 0; top: 0;}
.c-bottom-img{ width: 290px; height: 180px; margin-top: 20px; overflow: hidden; }
.c-bottom-img-des{ width: 100%; height: 24px; line-height: 24px; text-align: center; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0, 0.6); }
.c-bottom-img-des a{ color: #fff; }
.c-bottom-img-des a:hover{ text-decoration: underline; color: #fff; }
/* 礼拜菜单 */
.list{
	border-top: 8px solid #00558f;
	border-bottom: #bababa;
	background: #ddd;
}
.list-box{width: 20%; padding: 10px;}
.list-branch-title{ font-size: 14px; }
.list-branch{ font-size: 12px; color: #333; }
/* 友情链接 */
.link{
	background: #ddd;
	border-bottom: 1px solid #ddd;
}
.link-title{ font-size: 16px; border-left: 8px solid #025194; border-bottom: 1px solid #025194; text-indent: 20px; }
.link-box{ padding: 10px; }
.link-box>li{ margin-right: 30px; float: left; }

.footer{ margin-top: 30px;}
.footer-con{ width: 1120px; margin: 0 auto; padding: 20px 20px 30px;}
.footer-con>div{ height: 80px;}
.footer-left{margin-left:85px; margin-right: 85x; }
.footer-left img{ width: 80px; height: 80px; overflow: hidden; }
.footer-center{ width: 550px; display: flex;justify-content: center; align-items: center; flex-direction: column;}
.fc-link>div{ width: 90px; height: 14px; line-height: 14px; border-right: 1px solid; }
.fc-copyright{ line-height: 30px; }
.footer-right{ width: 280px; display: flex; justify-content: space-around; align-items: center;}
.footer-right>div{ width: 70px; height: 70px; overflow: hidden; }
.fr-wx{ padding-top: 6px; }
.fr-wx>div{ margin-top:10px; }